{% extends 'Lucero/base.html' %}

{% block title %}Buscar Productos - LuceroStore{% endblock %}

{% block content %}
    <header>
        <h1>Buscar Productos</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Buscar</button>
        </form>

        {% if resultados %}
            <h2>Resultados de la búsqueda:</h2>
            <ul>
                {% for producto in resultados %}
                    <li>{{ producto.nombre }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
    <footer>
        <p>Pie de página común</p>
    </footer>
{% endblock %}
